{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<div id="main">
	<article class="thumb">
		<a href="{% static 'images/fulls/full01.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb01.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full02.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb02.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full03.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb03.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full04.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb04.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full05.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb05.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full06.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb06.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full07.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb07.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full08.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb08.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full09.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb09.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full10.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb10.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full11.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb11.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/full12.jpg' %}" class="image"><img src="{% static 'images/thumbs/thumb12.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
</div>
{% endblock content %}
