
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
}

form {
      width: 25em;
      height: 15em;
      background: var(--clr-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10%;
      border-top: 1px solid  rgb(126, 125, 125);
      border-left: 1px solid  rgb(126, 125, 125);
      -webkit-box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88); 
      box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88);
}
.date_field {
    margin: 1em;
    width: 10em;
    background: transparent;
    color: var(--clr-light);
    text-align: center;
    outline-style: none;
}
.guests_field {
    margin: 1em;
    width: 4em;
    background: transparent;
    color: var(--clr-light);
    text-align: center;
    outline-style: none;
}
.email_field {
    margin: 1em;
    width: 12em;
    background: transparent;
    color: var(--clr-light);
    text-align: center;
    outline-style: none;
}

.submit_field {
    margin: 1em;
    cursor: pointer;
    border: 0;
    background: var(--clr-secondary);
    border-radius: 100vw;
    color: var(--clr-light);
    padding: .5em 1em;
    -webkit-box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88); 
    box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88);
    font-family: var(--fnt-secondary);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: center;
}

.submit_field:hover {
    background: rgba(20, 170, 170, 0.467);
}

.error {
    text-align: center;
    font-family: var(--fnt-secondary);
    font-size: 1.5em;
    letter-spacing: .1em;
    margin: 1em;
    list-style: none;
}
