
.front {
    -webkit-transition: 250ms;
    transition: 250ms;
}

.front img {
    border-radius: var(--br);
    -webkit-box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88); 
    box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88);
}

.menu {
    position: relative;
    width: 12.5em;
    margin: 3em;
}

.name {
    margin: .75em 0;
    padding: .5em;
    letter-spacing: .1em;
}

.back .contents {
    display: flex;
    justify-content: center;
}

.contents img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 2px solid var(--clr-dark);
}

.rank {
    position: absolute;
    z-index: 1000;
    font-family: var(--fnt-secondary);
    font-weight: bold;
    top: -.2em;
    right: 1.2em;
    background: rgba(29, 105, 116, 0.65);
    padding: .5em .5em .75em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    -webkit-transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.00);
    transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.00);
}

.contents img:nth-of-type(1) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    z-index: 1;
}
.contents img:nth-of-type(2) {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.back .set {
    font-family: var(--fnt-secondary);
    font-size: .9em;
    cursor: pointer;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(36, 36, 36);
    z-index: -1;
    -webkit-transform: scale(.2, .9);
    transform: scale(.2, .9);
    opacity: 0;
    border-radius: var(--br);
}

.menu:hover .background {
    -webkit-transition: 
     transform 200ms cubic-bezier(.21, 1.00, .81, 1.00),
     opacity 100ms linear;
    transition: 
     transform 200ms cubic-bezier(.21, 1.00, .81, 1.00),
     opacity 100ms linear;
    opacity: 1;
    -webkit-transform: scale(1.4, 1.2);
    transform: scale(1.4, 1.2);
}

.menu:hover .front {
    -webkit-transform: translateY(-30%) scale(.8);
    transform: translateY(-30%) scale(.8);
}

.menu:hover .stats {
    opacity: 0;
}

.menu:hover .name {
    -webkit-animation: gameName 250ms forwards;
    animation: gameName 250ms forwards;
}

.menu:hover .rank {
    -webkit-transform: translate(150%, -80%);
    transform: translate(150%, -80%);
}

.menu:hover .back {
    opacity: 1;
}

.pricing-info {
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, .25);
}

.menu-stat {
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fnt-secondary);
}

.menu-stat span {
    display: block;
    font-size: 1.3rem;
}

.btn {
    cursor: pointer;
    border: 0;
    background: var(--clr-secondary);
    border-radius: 100vw;
    color: var(--clr-light);
    padding: .5em 1.5em;
    -webkit-box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88); 
    box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.88);
    font-family: var(--fnt-secondary);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .05em;
}

.btn:hover {
    background: rgba(20, 170, 170, 0.467);
}
@-webkit-keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.carts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
