
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 5em;
}

table {
    border-collapse: collapse;
    max-width: 9em;
    margin-top: 2em;
}
  
td, th {
    border: 1px solid var(--clr-light);
    text-align: center;
    padding: .7em;
}
  
tr:nth-child(odd) {
    background-color: var(--clr-secondary);
  }

tr:first-child {
    background-color: var(--clr-primary);
  }
