{% extends 'base.html' %}
{% from 'macros.html' import menu %}

    {% block stylesheet %}<link rel="stylesheet" href="../static/menu.css">{% endblock %}

    {% block title %}Menu{% endblock %}
       
    {% block content %}
    
    <div class="carts">

        {{ menu(fronts[0], ranks[0], names[0], contents_1[0], contents_2[0], contents_3[0], stats_1[0], stats_2[0]) }}
        {{ menu(fronts[1], ranks[1], names[1], contents_1[1], contents_2[1], contents_3[1], stats_1[1], stats_2[1]) }}
        {{ menu(fronts[2], ranks[2], names[2], contents_1[2], contents_2[2], contents_3[2], stats_1[2], stats_2[2]) }}

    </div>
    
    {% endblock %}
