{% for car in cars %}

<div class="delete">
    <input type="hidden" name="car_order" value="{{ car.id }}" />
    <li class="car-list-elements">
        <a hx-get="{% url 'detail' car.id %}" 
            hx-target="#car-list"
            hx-push-url="/cars/{{ car.car.producer }}">
            {{car.order}}. {{ car.car.producer|upper }}  |
        </a>
        <span class="span-delete"
            style="cursor: pointer;"
            hx-delete="{% url 'delete_car' car.id %}"
            hx-target="#car-list"
            hx-confirm="Are you sure you wish to delete?">DELETE</span>
    </li>
</div>
{% endfor %}