{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Car Detail{% endblock title %}
{% block content %}
        <div id="detail-main">

				<!-- Main -->
                <div>
                    <h1>{{ user_car.car.producer }}</h2>
                    <p>THIS CAR IS #{{ user_car.order }} IN {{ user_car.user.username|upper}}'S LIST</p>
                </div>
                <div>
                    {% if user_car.car.photo %}
                        <img src="{{ user_car.car.photo.url }}" style="max-width: 200px; max-height: 200px;">
                    {% else %}
                        <p>NO PHOTO</p>
                    {% endif %}
                <form hx-encoding="multipart/form-data" hx-post="{% url 'upload_photo' user_car.id %}" hx-target="#car-list">
                    {% csrf_token %}
                    <div class="upload-wrap">
                        <label for="file-upload" class="custom-file-upload">
                            UPLOAD FILE
                       </label>
                       <input id="file-upload" type="file" name="photo"/>
                       <button type="submit" class="nice-button">SEND</button>
                    </div>
                </form>
                <hr class="detail-hr">
                <button class="btn btn-primary" hx-get="{% url 'car_list' %}" hx-target="#car-list" hx-push-url="/cars">
                    Your list
                </button>

        </div>
{% endblock content %}